apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.postgresql.initScriptsConfigMap }}
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
data:
  10-create-user.sql: |
    -- Create program user for microservices
    CREATE ROLE program WITH PASSWORD 'test';
    ALTER ROLE program WITH LOGIN;

  db-v1.sql: |
    -- Database initialization script v1
    CREATE DATABASE flights OWNER program;
    CREATE DATABASE tickets OWNER program;
    CREATE DATABASE privileges OWNER program;
    
    -- Grant privileges
    GRANT ALL PRIVILEGES ON DATABASE flights TO program;
    GRANT ALL PRIVILEGES ON DATABASE tickets TO program;
    GRANT ALL PRIVILEGES ON DATABASE privileges TO program;
