server:
  port: 8070
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://uncledrema.us.auth0.com/
  application:
    name: tickets
  datasource:
    url: jdbc:postgresql://localhost:5432/tickets
    username: program
    password: test
    driver-class-name: org.postgresql.Driver
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
upstream:
  gateway: http://localhost:8080/api/v1